body{
    margin: 0;
    font-family: sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size:62.5%

}

/*Inicio de mi encabezado*/
.header{
    margin: 4rem 0;
}


.header_imgwiki{
    background-color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 ;
    font-size: 1.4rem;
    line-height: 1.5;
}

.header_logo {

    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
   
}

.header_logo .slogan{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0,5rem;
    font-weight: normal;
    text-align: center;
}


.conteiner{
    display:flex;
    text-align: center;
    justify-content: center;
    padding-top: 500px;
}
.container_img{
     display: flex;
     text-align: center;
     justify-content: center;
     border-radius: 100%;
     padding-top: 70px;

}

.content_idiomas{
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}


a{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    text-decoration: transparent;
    color: gray; 
    font-weight: normal; 
    font-size: small;
    text-align: center;  
}


 .button_es{
    justify-content: left;
    background-color: transparent;   
    border-bottom: none;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold; 
    font-size: 14px; 
    position: relative;
    bottom: 250px;
    left: 350px;

}

.button_es:hover{
    text-decoration: underline blue;
}


.button_en{
    justify-content: right;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 250px;
    left: 550px;
}

.button_en:hover{
    text-decoration: underline blue;
}

.button_ja{
    justify-content: left;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold;
    font-size: 14px; 
    position: relative;
    bottom: 180px;
    left: 50px;
}

.button_ja:hover{
    text-decoration: underline blue;
}

.button_de{
    justify-content: right;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold;
    font-size: 14px; 
    position: relative;
    bottom: 180px;
    left: 380px; 
}

.button_de:hover{
    text-decoration: underline blue;
}


.button_ru{
    justify-content: left;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold; 
    font-size: 14px; 
    position: relative;
    bottom: 110px;
    left: -195px; 
}

.button_ru:hover{
    text-decoration: underline blue;
}

.button_fr{
    justify-content: right;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold; 
    font-size: 14px; 
    position: relative;
    bottom: 110px;
    left: 155px; 
}

.button_fr:hover{
    text-decoration: underline blue;
}

.button_it{
    justify-content: left;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold; 
    font-size: 14px; 
    position: relative;
    bottom: 40px;
    left: -385px; 
}

.button_it:hover{
    text-decoration: underline blue;
}
.button_zh{
    justify-content: right;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold; 
    font-size: 14px; 
    position: relative;
    bottom: 40px;
    left: -95px;  
}

.button_zh:hover{
    text-decoration: underline blue;
}
.button_pt{
    justify-content: left;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold;
    font-size: 14px; 
    position: relative;
    bottom: -30px;
    left: -540px;  
}

.button_pt:hover{
    text-decoration: underline blue;
}

.button_pl{
    justify-content: right;
    background-color: transparent ;   
    border-bottom: none ;
    border-top: none ;
    border-right: none ;
    border-left: none ;
    color: blue;
    font-weight: bold; 
    font-size: 14px; 
    position: relative;
    bottom: -30px;
    left: -400px; 
}
.button_pl:hover{
    text-decoration: underline blue;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

}

main .main-input-container{
    width: 525px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: gray;
}

main .main-input-container:hover{
    border-color: blue; 
}

main .main-input input{
    width: 450px;
    height: 40px;
    margin-left: 10px;
    border: none;
    
}

main .main-input .lang-icon{
    background-position: right;
    text-align: right;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .desp-icon{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDov%0D%0AL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAg%0D%0AMTAgNiI+Cgk8dGl0bGU+CgkJYXJyb3cgZG93bgoJPC90aXRsZT4KCTxwYXRoIGZpbGw9Im5vbmUi%0D%0AIHN0cm9rZT0iIzUwNTM1NiIgc3Ryb2tlLXdpZHRoPSIxLjExIiBkPSJNLjU2LjU1TDUgNC45IDku%0D%0ANDQuNTQiLz4KPC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}


main .main-input .search-icon{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4KYDyAo9JH0TCwXGCxJpjqxKH9mmrj2DXO65JPpKv1xkwU5hw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
    
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    text-align: center;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}




